.icon-login, .index-login-hvr, .tablet-login-hvr, .vk-icon-big, .facebook-icon-big, .insta-icon-big, .vk-icon-small, .facebook-icon-small, .insta-icon-small{
	background: url(sprites.png) no-repeat;
}

.icon-login{
	background-position: -33px -33px ;
	width: 16px;
	height: 16px;
}

.index-login-hvr{
	background-position: -100px -33px ;
	width: 16px;
	height: 16px;
}

.tablet-login-hvr{
	background-position: -157px -33px ;
	width: 16px;
	height: 16px;
}

.vk-icon-big{
	background-position: -200px -23px ;
	width: 23px;
	height: 26px;
}

.facebook-icon-big{
	background-position: -250px -10px ;
	width: 18px;
	height: 39px;
}

.insta-icon-big{
	background-position: -300px -13px ;
	width: 36px;
	height: 36px;
}

.vk-icon-small{
	background-position: -360px -30px ;
	width: 15px;
	height: 17px;
}

.facebook-icon-small{
	background-position: -410px -27px ;
	width: 10px;
	height: 21px;
}

.insta-icon-small{
	background-position: -460px -29px ;
	width: 19px;
	height: 19px;
}

